# Assignment 1
Submission by:

> Darsh Kumar
> 
> 20BCE0301

In [1]:
# Importing libraries
import numpy as np
import pandas as pd

In [2]:
# Task 1
df = pd.DataFrame(np.random.random((4, 4)))
df

          0         1         2         3
0  0.556431  0.286582  0.503706  0.095383
1  0.092561  0.866075  0.536781  0.418565
2  0.907966  0.489465  0.898027  0.747778
3  0.184033  0.463819  0.575121  0.905800

In [3]:
# Task 2
df.columns = ["Random value " + str(i + 1) for i in range(4)]
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.556431        0.286582        0.503706        0.095383
1        0.092561        0.866075        0.536781        0.418565
2        0.907966        0.489465        0.898027        0.747778
3        0.184033        0.463819        0.575121        0.905800

In [4]:
# Task 3
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.435248        0.526485        0.628409        0.541881
std          0.373582        0.243702        0.182099        0.360277
min          0.092561        0.286582        0.503706        0.095383
25%          0.161165        0.419510        0.528513        0.337769
50%          0.370232        0.476642        0.555951        0.583171
75%          0.644314        0.583618        0.655847        0.787284
max          0.907966        0.866075        0.898027        0.905800

In [5]:
# Task 4
print(df.loc[:, 'Random value 2'])
print(df.iloc[:, 2])

0    0.286582
1    0.866075
2    0.489465
3    0.463819
Name: Random value 2, dtype: float64
0    0.503706
1    0.536781
2    0.898027
3    0.575121
Name: Random value 3, dtype: float64